*.dll
*.exe
*.pdb
*.log
*.vscode/
*.vs/
*.suo
*.cache
*.user
*.bak
*.tmp
*.tmp_proj
*.obj
*.bin
*.userprefs
*.csproj.user

# Visual Studio Code specific files
.vscode/
*.code-workspace

# Rider specific files
.idea/
*.sln.iml
*.ipr
*.iws

# macOS specific files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# Windows Folder config file
Desktop.ini

# Project's objs
*/obj
*/bin
packages
.vs
.vs/NorthwindBackend/v16/.suo
